.wrapper {
  display: flex;
  flex-direction: column;

  padding: 16px;
  background-color: white;

  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.header {
  padding-bottom: 12px;
}